<!DOCTYPE html>
    <head>
        <title>Client Side File Upload</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script>
                // Making Connection 
                console.log('About to make connection');
    
              var socket = io.connect('http://10.0.0.223:3000');
            </script>
    </head>
    
    <body>
        <p class="primarytext"> Choose a file to uplad to DevOS File System </p>
        <form class="form" ref='uploadForm' id="uploadForm" method="POST" 
        action="10.0.0.223:3000/"
        enctype="multipart/form-data">

        <input class="form button" type="file" name="sampleFile" />
        <input class="form button" type="submit" value="Upload to Server" />

        </form>
    
    </body>

</html> 